@import 'src/assets/index';

.container {
  height: rem(48px);

  position: relative;
  margin-top: rem(11px);
  padding: rem(15px) rem(19px) rem(15px) rem(43px);
  border-radius: rem(14px);

  background-color: #F7F8F8; //TODo

  cursor: text;

  @include dark_theme {
    background-color: $light-black;
    caret-color: $dirty-white;
  }

  &:hover, &.focused {
    background-color: $white-grey;

    input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px $white-grey inset;
    }
  }

  input {
    width: 100%;
    height: 100%;

    background-color: transparent;

    font-size: rem(12px);
    color: $dark-grey;

    @include dark_theme {
      color: $white;
    }

    &::placeholder {
      color: $grey;
    }

    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px #F7F8F8 inset;


      @include dark_theme {
        -webkit-text-fill-color: $white;
        -webkit-box-shadow: 0 0 0px 1000px $light-black inset;
      }
    }

    //@media (max-width: 768px) {
    //  & {
    //    font-size: rem(22px);
    //  }
    //}
  }

  //@media (max-width: 768px) {
  //  & {
  //    height: 66px;
  //
  //    padding: 21px 21px 21px 47px;
  //  }
  //}
}