@import 'src/assets/index';

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: rem(79px) rem(60px) rem(78px);
  border-radius: rem(14px);

  background-color: $white;
  box-shadow: 4px 6px 49px -22px #00000025;

  @include dark_theme {
    background-color: $medium-black;
    box-shadow: none;
  }

  //@media (max-width: 768px) {
  //  & {
  //    align-items: center;
  //
  //    background-color: transparent;
  //    box-shadow: none;
  //  }
  //}
}