@import 'src/assets/index';

$lightOpenPassIcon: url("./images/light/open-pass.svg");
$lightHidePassIcon: url("./images/light/hide-pass.svg");
$darkOpenPassIcon: url("./images/dark/open-pass.svg");
$darkHidePassIcon: url("./images/dark/hide-pass.svg");

$openAndHidePassIconWidth: 16.5px;
$openAndHidePassIconHeight: 14px;


$lightPassIcon: url("./images/light/pass-icon.svg");
$darkPassIcon: url("./images/dark/pass-icon.svg");
$passIconWidth: 14px;
$passIconHeight: 16px;

.icon {
  &::before {
    content: $lightPassIcon;
    //width: $passIconWidth;
    //aspect-ratio: getAspectRatio($passIconWidth, $passIconHeight);
    //background-image: $lightPassIcon;
    //background-repeat: no-repeat;
    position: absolute;
    left: 18px;
    top: 50%;
    transform: translateY(-50%);
  }
// TODO Поправить тут все
  @include dark_theme {
    &::before {
      content: $darkPassIcon;
    }
  }
}

.button {
  position: absolute;
  border: none;
  background-color: transparent;

  &::before, &::after {
    content: '';
    position: absolute;
    visibility: hidden;
    top: 2px;
    right: 0;
    //width: $openAndHidePassIconWidth;
    //aspect-ratio: getAspectRatio($openAndHidePassIconWidth, $openAndHidePassIconHeight);
  }
  &::before {
    content: $lightOpenPassIcon;
  }
  &::after {
    content: $lightHidePassIcon;
  }
  @include dark_theme {
    &::before {
      content: $darkOpenPassIcon;
    }
    &::after {
      content: $darkHidePassIcon;
    }
  }

  &.openPass::before {
    visibility: initial;
  }
  &.hidePass::after {
    visibility: initial;
  }
}

