$medium-black: #2E2E2E;
$light-black: #404040;
$dark-grey: #5B5E65;
$medium-grey: #8F8F8F;
$grey: #89909B;
$light-grey: #D0D0D0;
$black: #121212;
$white: #FFFFFF;
$dark-black: #212121;
$dirty-white: rgba(255, 255, 255, .8);
$dark-white: #f4f7fc;

$red: #E48E8E;
$light-red: #EED4D4;
$dark-blue: #3272D8;
$blue: #3F90F1;
$lazure: #1FBCFF;
$light-blue: #9EC3FF;
$transparent-blue: #E5F2FF;
$white-grey: #E7EEF9;
$purple: #BC9CFF;
$light-purple: #D7C5FF;
$dark-green: #69D2D4;
$medium-green: #02DAC5;
$green: #86E8EA;
$light-green: #7DF5E9;

$base-font-size: 16;
